<p id="notice"><%= notice %></p>

<p>
  <strong>Timeline token:</strong>
  <%= @user.timeline_token %>
</p>

<p>
  <strong>Anilist token:</strong>
  <%= @user.anilist_token %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
